body {
	background-color: #c2b79f;
	background-size: cover;
	background-attachment:fixed;
	
}
	
.container {
	margin: auto;
	width:80%;
	background-color: #ffffff;
	padding:25px;
	border-radius: 5px;
	 
}
h2 {text-align: center}

label {
	display:block;
	padding-bottom: 5px;
	position:relative;

}
	
input {
	position:absolute;
	left:15%;
	width: 75%;
}
.submit {width: initial; position:initial;}

.day {
	position: initial;
	width: 5%;
}

.time {
	
	width: 5%;
}

.timelabel {
	position: initial;
}

.classlabel {
	position: initial;
}

.class {
	
	width: 5%;
	display: inline-block;
	
}
